# Compiled class file
*.class

# Log file
*.log
log/
temp/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.factorypath

# idea ignore
.idea/
*.idea/
*.ipr
*.iml
*.iws

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
*.class
